<div class="hero-section d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center align-items-center">
    
  
    <!-- Main Hero Section -->
    <main class="px-3 text-center">
      <h1 class="display-1 mb-4">Welcome to AlbCamp</h1>
      <p class="lead text-light mb-5">
        Discover beautiful campgrounds across Albania! 
        <br>
        Whether you are looking for a place to relax, adventure, or escape, we've got you covered!
      </p>
  
<!-- Update your HTML -->
<button class="btn btn-lg btn-custom-primary text-light px-4 py-2" (click)="onSearch()">
  Explore Campgrounds
</button>



  
      
    </main>
  
  
  </div>
  