
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
 
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  .campground-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    background-color: #b0d5d5;
    transition: box-shadow 0.3s;
  }
  
  .campground-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .campground-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .campground-card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .campground-card p {
    margin: 0 0 15px;
    color: #666;
  }
  
  .campground-card button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .campground-card button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
    .campground-card {
      padding: 10px;
    }
  
    .campground-card h3 {
      font-size: 1.2em;
    }
  
    .campground-card button {
      padding: 8px 16px;
      font-size: 14px;
    }
  }
  
  